html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

figcaption{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(194, 194, 194);
    border-radius: 35px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width: 772px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    img{
        border-radius: 100%;
    }

    :last-child{
        grid-column: 1/ span 2;
    }
}

@media screen and (min-width: 772px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .grid img{
        border-radius: 100%;
    }

    .grid:last-child{
        grid-column: 1/ span 2;
    }
}

@media screen and (min-width: 992px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .grid img{
        border-radius: 0;
    }

    .grid :nth-child(3n){
        grid-column: 1/ span 2;
    }
}

@media (prefers-reduced-motion) {
    body{
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark){
    body{
        background-color: black;
    }

    h1, h2, p{
        color: white;
    }

    figcaption{
        background-color: gray;
        color: white;
    }

    img{
        border-color: rgb(0, 0, 165);
    }
    
    a{
        color: lightblue;
    }

}
